<template>
  <div>
    <div class="book d-flex flex-column">
      <div class="d-flex justify-content-between w-75 mb-3">
        <button @click="$bvModal.show('add-book')" class="btn btn-danger">
          Add Book
        </button>
        <input
          class="form-control border-danger form-control-sm w-25"
          type="text"
          placeholder="Search"
        />
      </div>
      <table class="table bg-danger w-75 shadow">
        <thead class="bg-danger">
          <tr class="text-light">
            <th class="text-center">Action</th>
            <th>Name</th>
            <th class="text-center">Author</th>
            <th class="text-center">
              Copies <br />
              Available
            </th>
            <th class="text-center">Categories</th>
          </tr>
        </thead>
        <tbody class="bg-light">
          <tr v-for="book in books" :key="book.id">
            <td class="d-flex justify-content-center align-items-center">
              <div class="d-flex  flex-column mr-1">
                <button
                  v-on:click="showBorrowBook(book.id)"
                  class="btn btn-sm btn-warning text-light mb-1"
                >
                  Borrow
                </button>
                <button
                  v-on:click="showReturnBook(book.id)"
                  class="btn btn-sm btn-secondary"
                >
                  Return
                </button>
              </div>
              <div class="d-flex flex-column ml-1">
                <button
                  class="btn btn-sm btn-primary mb-1"
                  v-on:click="editBook(book)"
                >
                  Edit
                </button>
                <button class="btn btn-sm btn-danger" v-on:click="del(book.id)">
                  Delete
                </button>
              </div>
            </td>
            <td class="text-justify">{{ book.name }}</td>
            <td class="text-center">{{ book.author }}</td>
            <td class="text-center">{{ book.copies }}</td>
            <td class="text-center">{{ book.category }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Add Modal -->
    <b-modal centered id="add-book" hide-footer hide-header>
      <form @submit.prevent="createBook(book)">
        <div class="mt-2">
          <div class="modal-body">
            <button
              type="button"
              class="close mr-3 mt-3"
              @click="$bvModal.hide('add-book')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-danger ml-3 mt-3" id="exampleModalLabel">
              Add Book
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Author</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.author"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Copy</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.copies"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Category</span>
                <select
                  class="form-control form-control-sm w-50 border-0"
                  v-model="book.category_id"
                >
                  <option disabled>-- category --</option>
                  <option
                    v-for="category in categories"
                    :key="category.id"
                    :value="category.id"
                    >{{ category.name }}</option
                  >
                </select>
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button type="submit" class="btn btn-danger">
                Add Book
              </button>
            </div>
          </div>
        </div>
      </form>
    </b-modal>

    <!-- Edit Modal -->
    <b-modal centered id="edit-book" hide-footer hide-header>
      <form @submit.prevent="updateBook(book)">
        <div class="mt-2">
          <div class="modal-body">
            <button
              type="button"
              class="close mr-3 mt-3"
              @click="$bvModal.hide('edit-book')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-danger ml-3 mt-3" id="editBook">
              Add Book
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Author</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.author"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Copy</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="book.copies"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Category</span>
                <select
                  class="form-control form-control-sm w-50 border-0"
                  v-model="book.category_id"
                >
                  <option>-- category --</option>
                  <option
                    v-for="category in categories"
                    :key="category.id"
                    :value="category.id"
                    >{{ category.name }}</option
                  >
                </select>
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button type="submit" class="btn btn-danger">
                Upadte Book
              </button>
            </div>
          </div>
        </div>
      </form>
    </b-modal>

    <!-- Delete Modal -->
    <b-modal centered size="sm" id="delete-book" hide-footer hide-header>
      <form @submit.prevent="deletePatron()">
        <h2 class="ml-3 mt-3 mb-5 text-left text-danger">Delete</h2>
        <div class="text-center">
          <span>Do you want to delete this data?</span>
          <div
            class=" d-flex align-items-center justify-content-between mt-5 mr-5 ml-5 mb-3"
          >
            <button type="submit" class="btn btn-danger">
              <i class=" fas fa-trash-alt"></i> &nbsp;Delete
            </button>
            <button
              @click="$bvModal.hide('delete-book')"
              type="button"
              class="btn btn-secondary"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </b-modal>

    <!-- Borrowed Book Modal -->
    <b-modal centered id="borrow-book" hide-footer hide-header>
      <form @submit.prevent="borrowBook()">
        <div class="mt-2">
          <div class="modal-body">
            <button
              type="button"
              class="close mr-3 mt-3"
              @click="$bvModal.hide('return-book')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-danger ml-3 mt-3" id="exampleModalLabel">
              Borrowed Book
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Patron</span>
                <select
                  class="form-control form-control-sm w-50 border-0"
                  v-model="borrow.patron_id"
                >
                  <option disabled>-- SELECT A PATRON --</option>
                  <option
                    v-for="patron in patrons"
                    :key="patron.id"
                    :value="patron.id"
                    >{{
                      `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`
                    }}</option
                  >
                </select>
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Copy</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="borrow.copies"
                />
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button type="submit" class="btn btn-danger">
                Borrow
              </button>
            </div>
          </div>
        </div>
      </form>
    </b-modal>

     <!-- Returned Book Modal -->
    <b-modal centered id="return-book" hide-footer hide-header>
      <form @submit.prevent="returnBook()">
        <div class="mt-2">
          <div class="modal-body">
            <button
              type="button"
              class="close mr-3 mt-3"
              @click="$bvModal.hide('return-book')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-danger ml-3 mt-3" id="exampleModalLabel">
              Returned Book
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Patron</span>
                <select
                  class="form-control form-control-sm w-50 border-0"
                  v-model="borrow.patron_id"
                >
                  <option disabled>-- SELECT A PATRON --</option>
                  <option
                    v-for="patron in patrons"
                    :key="patron.id"
                    :value="patron.id"
                    >{{
                      `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`
                    }}</option
                  >
                </select>
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Copy</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="borrow.copies"
                />
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button type="submit" class="btn btn-danger">
                Borrow
              </button>
            </div>
          </div>
        </div>
      </form>
    </b-modal>

  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import toastr from "toastr";
export default {
  data() {
    return {
      book: {
        id: 0,
        name: "",
        author: "",
        copies: "",
        category_id: 0,
      },
      borrow: {
        patron_id: 0,
        copies: 0,
        book_id: 0,
      },
    };
  },
  computed: {
    ...mapGetters({
      books: "getBooks",
      categories: "getCategories",
      patrons: "getPatrons",
    }),
  },
  methods: {
    ...mapActions({
      allCategories: "allCategories",
      allPatrons: "allPatrons",
      allBooks: "allBooks",
      create: "addBook",
      update: "updateBook",
      delete: "deleteBook",
      borrowed: "borrowBook",
      returned: "returnBook",
    }),

    createBook() {

      this.create(this.book);
      this.clearFields();
      this.$bvModal.hide("add-book");
    },
    editBook(book) {
      this.book = { ...book };
      this.$bvModal.show("edit-book");
    },
    updateBook() {

      this.update(this.book);
      this.clearFields();
      this.$bvModal.hide("edit-book");
    },
    del(id) {
      this.$bvModal.show("delete-book");
      this.book.id = id;
    },
    deletePatron() {
      this.delete(this.book.id);
      this.clearFields();
      this.$bvModal.hide("delete-book");
    },
    showBorrowBook(book_id) {
      this.borrow.book_id = book_id;
      this.$bvModal.show("borrow-book");
    },
    borrowBook() {
      var borrowed = {
        patron_id: this.borrow.patron_id,
        copies: this.borrow.copies,
        book_id: this.borrow.book_id,
      };
      this.borrowed(borrowed);
    },
    showReturnBook(book_id) {
      this.borrow.book_id = book_id;

      var borrowedBooks = this.borrowedBooks;
      this.patrons = [];

      borrowedBooks.forEach((borrowed) => {
        if (this.borrow.book_id == borrowed.book_id) {
          this.patrons.push({
            label: `${borrowed.patron.last_name}, ${borrowed.patron.first_name} ${borrowed.patron.middle_name}`,
            id: borrowed.patron_id,
          });
        }
      });

      this.$bvModal.show("returned-book");
    },
    returnBook() {
      var returned = {
        patron_id: this.borrow.patron_id,
        copies: this.borrow.copies,
        book_id: this.borrow.book_id,
      };
      this.returned(returned);
      this.allPatrons();
    },
    clearFields() {
      this.book.id = 0;
      this.book.name = "";
      this.book.author = "";
      this.book.copies = "";
      this.book.category = "";
    },

  },
  created() {
    this.allBooks();
    this.allPatrons();
    this.allCategories();
  },
  mounted() {
    document.title = "Library System | Book Management";
  },
};
</script>

<style></style>
