<template>
  <div class="dashboard">
    <div class="status mr-3 shadow-lg">
      <Bar />
    </div>
    <div class="popularity ml-3 shadow-lg">
      <Doughnut />
    </div>
  </div>
</template>

<script>
import Bar from "@/components/charts/Bar";
import Doughnut from "@/components/charts/Doughnut";

export default {
  components: {
    Bar,
    Doughnut,
  },
  data() {
    return {
      height: 400,
      width: 400,
    };
  },
  computed: {
    chartStyle() {
      return {
        height: `${this.height}px`,
        width: `${this.width}px`,
        position: "relative",
      };
    },
  },
  mounted() {
    document.title = "Library System | Dashboard";
  },
};
</script>
