<template>
  <div>
    <div class="content">
      <div class="container">
        <div class="patron d-flex flex-column">
          <div class="d-flex justify-content-between w-75 mb-3">
            <button
              @click="$bvModal.show('create-patron')"
              class="btn btn-danger"
            >
              Add Patron
            </button>
            <input
              class="form-control border-danger form-control-sm w-25"
              type="text"
              placeholder="Search"
            />
          </div>
          <table class="table bg-danger w-75 shadow">
            <thead class="bg-danger">
              <tr class="text-light">
                <th class="text-center">Action</th>
                <th>Name</th>
                <th>Email</th>
                <th class="text-center">Date Registed</th>
              </tr>
            </thead>
            <tbody class="bg-light">
              <tr
                class="border-info"
                v-for="patron in patrons"
                :key="patron.id"
              >
                <td
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <button
                    class="btn btn-sm btn-primary w-75 mb-1"
                    v-on:click="editPatron(patron)"
                  >
                    Edit
                  </button>
                  <button
                    v-on:click="del(patron.id)"
                    class="btn btn-sm btn-danger w-75"
                  >
                    Delete
                  </button>
                </td>
                <td class="text-justify">
                  {{ `${patron.last_name}, ${patron.first_name} ${patron.middle_name}` }}
                </td>
                <td>{{ patron.email }}</td>
                <td>{{ setDate(patron.created_At) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Add Modal -->
    <b-modal centered id="create-patron" hide-footer hide-header>
      <div>
        <div>
          <div>
            <button
              type="button"
              class="close mr-3"
              @click="$bvModal.hide('create-patron')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-danger ml-3 mt-3" id="createModal">
              Add Patron
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">First Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.first_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Middle Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.middle_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Last Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.last_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Email Address</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="email"
                  v-model="patron.email"
                />
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button
                type="button"
                class="btn btn-danger"
                v-on:click="createPatron(patron)"
              >
                Add Patron
              </button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <!-- Update Modal -->
    <b-modal centered id="edit-patron" hide-footer hide-header>
      <div>
        <div>
          <div>
            <button
              type="button"
              class="close mr-3"
              @click="$bvModal.hide('edit-patron')"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-danger ml-3 mt-3" id="editModal">
              Edit Patron
            </h4>
            <div class="d-flex flex-column mt-5 mr-5 ml-5 mb-3">
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">First Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.first_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Middle Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.middle_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Last Name</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="text"
                  v-model="patron.last_name"
                />
              </div>
              <div
                class="form-group d-flex justify-content-between align-items-center w-100"
              >
                <span class="text-danger">Email Address</span>
                <input
                  class="form-control form-control-sm w-50 border-0"
                  type="email"
                  v-model="patron.email"
                />
              </div>
            </div>
            <div
              class="d-flex justify-content-end align-items-center mr-5 mb-5"
            >
              <button
                type="button"
                class="btn btn-danger"
                v-on:click="updatePatron()"
              >
                Update Patron
              </button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
    <!-- Delete Modal -->
    <b-modal centered size="sm" id="delete-patron" hide-footer hide-header>
      <div>
        <form @submit.prevent="deletePatron()">
          <h2 class="ml-3 mt-3 mb-5 text-left text-danger">Delete</h2>
          <div class="text-center">
            <span>Do you want to delete this data?</span>
            <div
              class=" d-flex align-items-center justify-content-between mt-5 mr-5 ml-5 mb-3"
            >
              <button type="submit" class="btn btn-danger">
                <i class=" fas fa-trash-alt"></i> &nbsp;Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                @click="$bvModal.hide('delete-patron')"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      
      patron: {
        id: 0,
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
        created: this.setDate(Date.now()),
      },
    };
  },
  computed: {
    ...mapGetters({
      patrons: "getPatrons",
    }),
  },
  methods: {
    ...mapActions({
      allPatrons: "fetchPatrons",
      create: "addPatron",
      update: "updatePatron",
      delete: "deletePatron",
    }),
    createPatron(patron) {

      this.create(this.patron);
      this.clearFields();
      this.$bvModal.hide("create-patron");
      toastr.success("Patron Added!", "Success");
    },
    editPatron(patron) {
      this.$bvModal.show("edit-patron");
      this.patron = { ...patron };
    },
    updatePatron() {

      this.update(this.patron);
      this.clearFields();
      this.$bvModal.hide("edit-patron");
      toastr.success("Patron Updated!", "Success");
    },
    del(id) {
      this.$bvModal.show("delete-patron");
      this.patron.id = id;
    },
    deletePatron() {
      this.delete(this.patron.id);
      this.clearFields();
      this.$bvModal.hide("delete-patron");
    },
    clearFields() {
      (this.patron.id = ""),
        (this.patron.first_name = ""),
        (this.patron.middle_name = ""),
        (this.patron.last_name = ""),
        (this.patron.email = "");
    },
    setDate(date) {
      var d = new Date(date);
      return `${new Intl.DateTimeFormat("en", { month: "long" }).format(
        d
      )} ${new Intl.DateTimeFormat("en", { day: "2-digit" }).format(
        d
      )}, ${new Intl.DateTimeFormat("en", { year: "numeric" }).format(d)}`;
    },

  },
  mounted() {
    document.title = "Library System | Patron Management";
  },
};
</script>

<style></style>
