<template>
  <div class="settings"></div>
</template>

<script>
export default {
  mounted() {
    document.title = "Library System | Settings";
    this.$activetLink = "settings"
  },
};
</script>

<style></style>
