* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header span {
    font-size: 20px;
    font-weight: 600;
}

header button {
    width: 100px;
    height: 40px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidenav {
    position: relative;
    height: 85vh;
    width: 25%;
}
.sidenav a span{
    font-size: 16px;
    margin-left: 5px;
}

.sidenav a i {
    font-size: 20px;
}

.dashboard,
.patron,
.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.status,
.popularity {
    padding: 10px;
}

.modal-content input,
.modal-content input:focus,
.dropdown button {
    background-color: #FFD0D0;
}

.dropdown button {
    color: black;
}