<template>
  <div id="app">
    <Header />
    <div class="content">
      <SideBar />
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/nav/Header";
import SideBar from "@/components/nav/SideBar";
export default {
  components: {
    Header,
    SideBar,
  },
};
</script>
