* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  box-shadow: 5px 3px 5px 5px #00000048;
}
.banner .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.banner .container .heading i:hover {
  color: #fff;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about .container .title {
  margin-top: 100px;
  width: 150px;
  height: 60px;
  color: red;
}

.about .container .title::before {
  margin-top: 100px;
  content: "";
  background-color: #e6333380;
  display: block;
  position: absolute;
  width: 180px;
  height: 60px;
  left: 600px;
  top: 630px;
  z-index: 99;
}
.about .container .title::after {
  content: "";
  margin-top: 100px;
  background-color: #e63232;
  position: absolute;
  display: block;
  width: 180px;
  height: 60px;
  left: 560px;
  top: 650px;
  z-index: 99;
}

.about .container .title h3 {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
}

.about .container h1 {
  margin-top: 150px;
  margin-right: 750px;
  margin-bottom: 20px;
}
.about .container .content {
  padding: 50px;
  text-align: justify;
  border: 2px #e63232 solid;
  border-top-left-radius: 90px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
}

.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about .container .title,
.contactus .container .title {
  margin-top: 100px;
  width: 150px;
  height: 60px;
  color: red;
}

.review .container .title::before {
  margin-top: 100px;
  content: "";
  background-color: #e6333380;
  display: block;
  position: absolute;
  width: 180px;
  height: 60px;
  left: 600px;
  top: 1380px;
  z-index: 99;
}
.review .container .title::after {
  content: "";
  margin-top: 100px;
  background-color: #e63232;
  position: absolute;
  display: block;
  width: 180px;
  height: 60px;
  left: 560px;
  top: 1400px;
  z-index: 99;
}

.review .container .title h3 {
  margin-top: 150px;
  right: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.review .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;

}

.review .container .content img {
  box-shadow: 10px 10px 10px #0000006b;
}

.review .container .content .message {
  max-width: 400px;
  height: 381px;
  background-color: white;
  text-align: start;
  padding: 50px;
  box-shadow: 10px 10px 10px #0000006b;
}

.review .container .content .message p:nth-child(2) {
  text-align: right;
}

.contactus .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contactus .container .title h3 {
  margin-top: 10px;
  right: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.contactus .container .title {
  margin-top: 60px;
  width: 150px;
  height: 60px;
  color: red;
}

.contactus .container .title::before {
  margin-top: 10px;
  content: "";
  background-color: #e6333380;
  display: block;
  position: absolute;
  width: 180px;
  height: 60px;
  left: 600px;
  top: 2080px;
  z-index: 99;
}
.contactus .container .title::after {
  content: "";
  margin-top: 0px;
  background-color: #e63232;
  position: absolute;
  display: block;
  width: 180px;
  height: 60px;
  left: 560px;
  top: 2100px;
  z-index: 99;
}

.contactus .container .content .heading {
  margin-right: 50px;
  color: #616161;
  text-transform: uppercase;
}


.contactus .container .content .heading span {
  font-size: 24px;
  font-weight: 500;
}

.contact-form {
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
  padding: 40px;
  background-color: #e63232;
  margin-right: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0.4rem #1616164d;
  box-shadow: 0px 2px 0.4rem #1616164d;
}


.contactus .container .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin: 10px 0;
  border: none;
  color: #fff;
  background-color: #e63232;
  border-bottom: 2px solid #fff;
  outline: none;
  resize: none;
  font-weight: 300;
}

.contact-form .input-box textarea {
  height: 100px;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  color: #fff;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.5s;
}


.contact-form .input-box input[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: #e63232;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border: 2px #fff solid;
}


.contact-form .input-box input[type="submit"]:hover {
  background-color: #e63232;
  color: #fff;
}


footer {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #e63232;
  display: flex;
  justify-content: center;
  align-items: center ;
}


