<template>
    <header class="shadow">
        <span class="text-danger">Library System</span>
        <button class="btn btn-sm btn-danger">Login</button>
    </header>
</template>

<script>
export default {

}
</script>