<template>
  <div class="sidenav shadow">
    <router-link to="/" class="nav-link p-4" :class="this.$route.name === 'Dashboard' ? 'active' : ''">
      <span>Dashboard</span>
    </router-link>
    <router-link to="/patron" class="nav-link p-4" :class="this.$route.name === 'Patron' ? 'active' : ''">
      <span>Patron Management</span>
    </router-link>
    <router-link to="/book" class="nav-link p-4" :class="this.$route.name === 'Book' ? 'active' : ''">
      <span>Book Management</span>
    </router-link>
    <router-link to="/settings" class="nav-link p-4" :class="this.$route.name === 'Settings' ? 'active' : ''">
      <span>Settings</span>
    </router-link>
  </div>
</template>
