@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header span {
    font-size: 20px;
    font-weight: 600;
}

header button {
    width: 100px;
    height: 40px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidenav {
    position: relative;
    height: 85vh;
    width: 25%;
}
.sidenav .nav-link span{
    font-size: 16px;
    margin-left: 5px;
    color: #dc3545 !important;
}

.sidenav .nav-link i {
    font-size: 20px;
}

.sidenav .nav-link.active {
    background-color: #dc3545 !important;
}

.sidenav .nav-link.active span {
    color: #fff !important;
}

.dashboard,
.patron,
.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.status,
.popularity {
    padding: 10px;
}

.modal-content input,
.modal-content input:focus,
.modal-content select,
.modal-content select:focus {
    background-color: #FFD0D0;
}

.modal-content select option{
    background-color: #fff;
}
.dropdown {
    color: #000 !important;
}