<template>
  <div>
    <nav>
      <router-link to="/login" class="btn btn-outline-light btn-xl"
        ><i class="fas fa-sign-out-alt"></i> Login</router-link
      >
      <span class="ml-3 text-light">or</span>
      <router-link to="/signup" class="text-light nav-link"
        ><i class="fas fa-sign-in-alt"></i> Sign up</router-link
      > 
    </nav>
    <div class="landing">
      <div class="title">
        <h3>Recipe Blog</h3>
        <p>Show the art of Cooking</p>
      </div>
    </div>
    <div class="overlay"></div>
    <div class="background"></div>
  </div>
</template>

<script>
export default {
  mounted() {
    document.title = "Recipe Blog - Share your creations";
    // Check if has a session
  },
};
</script>

<style scoped>
.overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgb(121, 121, 121);
  opacity: 0.7;
}
.background {
  background: url("../assets/images/background1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.landing {
  z-index: 20;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.title h3 {
  font-size: 8rem;
  font-family: "Pattaya";
}

.title p {
  font-size: 1.5rem;
}

nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
</style>