<template>
  <div>
    <div class="background"></div>
    <div class="login">
      <h1 class="text-center mt-5">Login</h1>
      <p class="text-center mt-3">
        Enter your credentials to access our website
      </p>
      <b-form class="px-5 mt-5" @submit.prevent="login" ref="login">
        <b-form-group
          id="input-group-1"
          label="Username or Email"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            type="text"
            v-model="credential.login"
            placeholder="Enter your email or username"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-1" label="Password" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="credential.password"
            type="password"
            placeholder="Enter your password here"
          ></b-form-input>
        </b-form-group>
        <b-form-group class="mt-4">
          <b-button
            class="w-100 rounded-pill shadow"
            variant="dark"
            type="submit"
          >
            Login
          </b-button>
          <p class="text-center mt-2">or</p>
          <router-link
            to="/signup"
            class="w-100 btn btn-outline-dark rounded-pill"
            >Sign up</router-link
          >
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    document.title = "Login | Recipe Blog";
    const res = await this.$store.dispatch("CHECKUSER");
    if(res.status == 200){
      this.$router.push('/')
    }
  },
  data() {
    return {
      credential: {
        login: "",
        password: "",
      },
    };
  },
  methods: {
    async login() {
        const res = await this.$store.dispatch("LOGIN", this.credential);
        if (res.status == 401) {
          this.$refs.login.reset();
          this.$toast.error("Login Failed!");
        } else if (res.status == 200) {
          this.$router.push("/");
          this.$toast.success("User logged in successfully");
        }
    }
  }
};
</script>

<style scoped>
.background {
  background: url("../assets/images/background2.jpg") no-repeat;
  background-size: cover;
  width: 70%;
  height: 100vh;
}
.login {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
}
</style>