<template>
  <div>
    <Navbar />
    <div class="container m-content">
      <h2>My Recipes</h2>
      <div class="row justify-content-center">
        <div
          class="col-md-4 col-lg-4"
          v-for="recipe in myrecipes"
          :key="recipe.id"
        >
          <div>
            <b-card
              :title="recipe.title"
              :img-src="
                'http://127.0.0.1:8000/uploads/' + recipe.featured_image
              "
              img-alt="Image"
              img-top
              tag="article"
              img-height="200"
              class="mt-3 mb-3"
            >
              <b-card-text>
                {{ recipe.description }}
              </b-card-text>
              <div class="d-flex justify-content-between align-items-center">
                <b-button
                  v-on:click="showRecipeInfo(recipe)"
                  variant="outline-warning"
                  ><i class="fas fa-info"></i> Show info</b-button
                >
                <div>
                  <router-link
                    :to="{ name: 'UpdateRecipe', params: { recipe } }"
                    class="btn btn-outline-warning mx-1"
                    ><i class="fas fa-pen-alt"></i
                  ></router-link>
                  <b-button
                    variant="outline-warning"
                    class="mx-1"
                    v-on:click="showDeleteRecipe(recipe.id)"
                    ><i class="fas fa-trash"></i
                  ></b-button>
                </div>
              </div>
            </b-card>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="info-modal" hide-footer :title="recipe.title" size="lg">
      <div class="d-block text-center">
        <img class="img-fluid"
          :src="'http://127.0.0.1:8000/uploads/' + recipe.featured_image"
        />
        <h3 class="mt-3">{{ recipe.title }}</h3>
        <p class="mt-3" style="font-size: 14px">
          By
          <span class="text-secondary">{{
            `${user.first_name} ${user.middle_name} ${user.last_name}`
          }}</span>
          <br />
          <span class="text-secondary">Posted @ {{ recipe.created_at }}</span>
        </p>
        <p>{{ recipe.description }}</p>
        <div class="ql-snow">
          <div class="ql-editor p-5">
            <div v-html="recipe.procedure"></div>
          </div>
        </div>
      </div>
    </b-modal>
    <AddRecipe />
    <b-modal
      size="sm"
      ref="delete-modal"
      title="Delete recipe"
      ok-variant="warning"
      ok-title="Delete"
      @ok.prevent="deleteRecipe"
    >
      <div class="container-fluid">
        <p>You want to delete this recipe?</p>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import AddRecipe from "@/components/AddRecipe.vue";

export default {
  components: { Navbar, AddRecipe },
  async mounted() {
    document.title = "My Recipes | Recipe Blog";
    const res = await this.$store.dispatch("CHECKUSER");
    if (res.status == 401 || res.status == 500) {
      localStorage.removeItem("access_token");
      this.$router.push("/login");
    } else if (res.status == 200) {
      if (res.token_status == "expired")
        localStorage.setItem("access_token", res.data.newToken);
    }
    await this.$store.dispatch("FETCH_MYRECIPES");
  },
  data() {
    return {
      recipe: {},
      id: "",
    };
  },
  computed: {
    myrecipes() {
      return this.$store.getters.GET_MYRECIPES;
    },
    user() {
      return this.$store.getters.GET_USER;
    },
  },
  methods: {
    showRecipeInfo(recipe) {
      this.recipe = { ...recipe };
      this.$refs["info-modal"].show();
    },
    hideRecipeInfo() {
      this.$refs["info-modal"].hide();
    },
    showDeleteRecipe(id) {
      this.id = id;
      this.$refs["delete-modal"].show();
    },
    async deleteRecipe() {
      const recipe = await this.$store.dispatch("DELETE_RECIPE", this.id);
      if (recipe.status == 200) {
        this.$toast.success("Recipe was delete successfully!");
        await this.$store.dispatch("FETCH_MYRECIPES");
        this.$refs["delete-modal"].hide();
      } else {
        this.$toast.error("Something went wrong");
      }
    },
  },
};
</script>

<style>
</style>