<template>
  <div class="not-found">
    <img src="@/assets/images/notfound.png" alt="" srcset="" />
    <div class="d-flex align-items-center">
      <span>Oh! This page not found. Go to</span>
      <router-link to="/" class="text-primary ml-1">home page.</router-link>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    document.title = "404 Not Found | Recipe Blog";
  },
};
</script>

<style scoped>
.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 550px;
  height: 350px;
}
</style>