<template>
  <div>
    <div class="background"></div>
    <div class="signup">
      <h1 class="text-center mt-3">Sign up</h1>
      <p class="text-center mt-3">
        Welcome, you need to sign up if you're new one.
      </p>
      <b-form class="px-5" @submit.prevent="signUp">
        <div v-if="page == 1">
          <b-form-group id="input-group-1" label="Username" label-for="input-1">
            <b-form-input
              id="input-1"
              type="text"
              size="sm"
              v-model="account.username"
              placeholder="Enter your username here"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-1" label="Email" label-for="input-1">
            <b-form-input
              id="input-1"
              type="text"
              size="sm"
              v-model="account.email"
              placeholder="Enter your email here"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-1" label="Password" label-for="input-1">
            <b-form-input
              id="input-1"
              type="password"
              size="sm"
              v-model="account.password"
              placeholder="Enter your password here"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Confirm Password"
            label-for="input-1"
          >
            <b-form-input
              size="sm"
              id="input-1"
              type="password"
              v-model="confirm_password"
              placeholder="Enter your confirm password here"
            ></b-form-input>
          </b-form-group>
          <b-button variant="dark" size="sm" v-on:click="page = 2"
            ><i class="fas fa-long-arrow-alt-right"></i> Next
          </b-button>
        </div>
        <div v-else>
          <b-form-group
            id="input-group-1"
            label="First Name"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="text"
              size="sm"
              v-model="account.first_name"
              placeholder="Enter your First Name here"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Middle Name"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="text"
              size="sm"
              v-model="account.middle_name"
              placeholder="Enter your Middle Name here"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Last Name"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="text"
              size="sm"
              v-model="account.last_name"
              placeholder="Enter your Last Name here"
            ></b-form-input>
          </b-form-group>
          <b-form-group class="mt-4">
            <b-button
              size="sm"
              class="w-100 rounded-pill shadow"
              variant="dark"
              type="submit"
            >
              Sign up
            </b-button>
          </b-form-group>
          <b-button variant="dark" v-on:click="page = 1" size="sm"
            ><i class="fas fa-long-arrow-alt-left"></i> Previous
          </b-button>
        </div>
        <p class="text-center mt-2">or</p>
        <router-link to="/login" class="w-100 btn btn-outline-dark rounded-pill"
          >Login</router-link
        >
      </b-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 1,
      account: {},
      confirm_password: "",
      isValidated: false,
    };
  },
  methods: {
    async signUp() {
      this.validateFieldSignUp();

      if (this.isValidated) {
        const res = await this.$store.dispatch("SIGNUP", this.account);
        if (res.status == 200) {
          this.$toast.success("Account created successfully!");
          this.clearFields();
        }
      } else {
        this.isLoading = false;
      }
    },

    validateFieldSignUp() {
      this.isValidated = false;
      if (this.account.username.trim() == "")
        return this.$toast.error("Username is required");
      if (!this.isEmail(this.account.email)) {
        return this.$toast.error("A valid email is required");
      }
      if (this.account.email.trim() == "") {
        return this.$toast.error("Email is required");
      }
      if (this.account.password.trim() == "") {
        return this.$toast.error("Password is required");
      }

      if (this.confirm_password.trim() == "") {
        return this.$toast.error("Please confirm your password");
      } else {
        if (this.account.password !== this.confirm_password) {
          return this.$toast.error("Password and confirm password not match.");
        }
      }
      if (this.account.first_name.trim() == "")
        return this.$toast.error("First Name is required");
      if (this.account.middle_name.trim() == "")
        return this.$toast.error("Middle Name is required");
      if (this.account.last_name.trim() == "")
        return this.$toast.error("Last Name is required");

      this.isValidated = true;
    },

    isEmail(input) {
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi;
      let isEmail = regEx.test(input);
      return isEmail;
    },

    validateFieldLogin() {
      if (!this.isEmail(this.login.email))
        return this.$toast.error("Please enter a valid email");
      if (this.login.password.trim() == "")
        return this.$toast.error("Please enter your password");

      this.isValidated = true;
    },
    clearFields() {
      this.account = {};
      this.confirm_password = "";
    },
  },
};
</script>

<style scoped>
.background {
  margin-left: 30%;
  background: url("../assets/images/background3.jpg") no-repeat;
  background-size: cover;
  width: 70%;
  height: 100vh;
}

.signup {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100vh;
}
</style>