<template>
  <div>
    <Navbar />
    <div class="container m-content">
      <h2>Recipes</h2>
      <div class="row justify-content-center">
        <div
          class="col-md-4 col-lg-4"
          v-for="recipe in allrecipes"
          :key="recipe.id"
        >
          <div>
            <b-card
              :title="recipe.title"
              :img-src="
                'http://127.0.0.1:8000/uploads/' + recipe.featured_image
              "
              img-alt="Image"
              img-top
              tag="article"
              class="mt-3 mb-3"
            >
              <b-card-text>
                {{ recipe.description }}
              </b-card-text>

              <div class="d-flex justify-content-between align-items-center">
                <b-button
                  variant="outline-warning"
                  v-on:click="showRecipeInfo(recipe)"
                  ><i class="fas fa-info"></i> Show info</b-button
                >
                <div>
                  <b-button
                    variant="warning"
                    class="text-light"
                    v-if="recipe.user_id !== user.id"
                    v-on:click="showRateRecipe(recipe.id)"
                    ><i class="fas fa-star"></i>&nbsp;Rate</b-button
                  >
                </div>
              </div>
            </b-card>
          </div>
        </div>
      </div>
    </div>
    <AddRecipe />

    <b-modal ref="info-modal" hide-footer :title="r.title" size="lg">
      <div class="d-block text-center">
        <img
          class="img-fluid"
          :src="'http://127.0.0.1:8000/uploads/' + r.featured_image"
        />
        <h3 class="mt-3">{{ r.title }}</h3>
        <p class="mt-3" style="font-size: 14px">
          By
          <span class="text-secondary">{{
            `${user.first_name} ${user.middle_name} ${user.last_name}`
          }}</span>
          <br />
          <span class="text-secondary">Posted @ {{ r.created_at }}</span>
        </p>
        <p>{{ r.description }}</p>
        <div class="ql-snow">
          <div class="ql-editor p-5">
            <div v-html="r.procedure"></div>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal
      size="sm"
      ref="rate-modal"
      title="Rate this recipe"
      ok-variant="warning"
      ok-title="Submit"
      @ok.prevent="rateRecipe"
    >
      <div
        class="container-fluid d-flex justify-content-center align-items-center"
      >
        <StarRating :show-rating="false" v-model="rating" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";
import Navbar from "@/components/Navbar.vue";
import AddRecipe from "@/components/AddRecipe.vue";

export default {
  name: "Timeline",
  components: {
    Navbar,
    AddRecipe,
    StarRating,
  },
  data() {
    return {
      id: "",
      rating: 0,
      r: {},
    };
  },
  computed: {
    user() {
      return this.$store.getters.GET_USER;
    },
    allrecipes() {
      return this.$store.getters.GET_ALLRECIPES;
    },
  },
  async mounted() {
    document.title = "Timeline | Recipe Blog";
    const res = await this.$store.dispatch("CHECKUSER");
    if (res.status == 401 || res.status == 500) {
      localStorage.removeItem("access_token");
      this.$router.push("/login");
    } else if (res.status == 200) {
      if (res.token_status == "expired")
        localStorage.setItem("access_token", res.data.newToken);
    }
    await this.$store.dispatch("FETCH_ALLRECIPES");
  },
  methods: {
    showRecipeInfo(recipe) {
      this.r = { ...recipe };
      this.$refs["info-modal"].show();
    },
    showRateRecipe(id) {
      this.recipe_id = id;
      this.$refs["rate-modal"].show();
    },
    async rateRecipe() {
      var data = {
        recipe_id: this.recipe_id,
        rating: this.rating,
      };

      const res = await this.$store.dispatch("RATE_RECIPE", data);
      if (res.status == 200) {
        this.$toast.success("Submitted! Thank you for rating this recipe.");
      } else {
        this.$toast.error("Something went wrong");
      }
    },
  },
};
</script>

<style scoped>
.timeline {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-family: "Pattaya";
}
</style>