<template>
  <div class="container mb-5">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div>
        <h3 class="text-warning">Update the dish</h3>
        <h6 class="text-secondary">All fields are required to fill.</h6>
      </div>
      <div>
        <router-link to="/recipes" class="btn btn-warning text-light">
          <i class="fas fa-home"></i>&nbsp; My Recipes</router-link
        >
      </div>
    </div>

    <b-form class="mt-5" @submit.prevent="updateRecipe">
      <div class="d-flex justify-content-start">
        <b-form-group
          label="Title"
          description="Title of your recipe"
          class="w-100 pr-5"
        >
          <b-form-input
            type="text"
            v-model="data.title"
            placeholder="Enter title"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Category"
          description="Category of your recipe"
          v-model="data.category_id"
          class="w-100"
        >
          <b-form-select>
            <b-form-select-option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.name }}</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
      </div>
      <b-form-group
        label="Description"
        description="Tell the description of your recipe."
        class="w-100"
      >
        <b-form-textarea
          v-model="data.description"
          placeholder="Enter title"
        ></b-form-textarea>
      </b-form-group>
      <div>
        <b-form-group
          label="Featured Image"
          description="Image of your recipe."
        >
          <VueFileAgent
            ref="vueFileAgent"
            :theme="'list'"
            :multiple="false"
            :deletable="true"
            :meta="true"
            :accept="'image/*,.zip'"
            :maxSize="'10MB'"
            :maxFiles="14"
            :helpText="'Choose images or zip files'"
            :errorText="{
              type: 'Invalid file type. Only images or zip Allowed',
              size: 'Files should not exceed 10MB in size',
            }"
            @select="filesSelected($event)"
            @beforedelete="onBeforeDelete($event)"
            @delete="fileDeleted($event)"
            v-model="fileRecords"
          ></VueFileAgent>
        </b-form-group>
        <b-form-group label="Procedure" description="Tell the way of cooking.">
          <vue-editor
            v-model="data.procedure"
            :editor-toolbar="customToolbar"
          />
        </b-form-group>
        <b-button type="submit" variant="warning" class="text-light" size="lg"
          ><i class="fas fa-pen"></i>&nbsp; Update</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  components: { VueEditor },
  async mounted() {
    this.data = { 
      title: this.recipe.title,
      description: this.recipe.description,
      procedure: this.recipe.procedure,
      category_id: this.recipe.category_id,
      featured_image: this.recipe.featured_image
    }
    this.id = this.data.id
    document.title = "Create a recipe | Recipe Blog";
    const res = await this.$store.dispatch("CHECKUSER");
    if (res.status == 401 || res.status == 500) {
      localStorage.removeItem("access_token");
      this.$router.push("/login");
    } else if (res.status == 200) {
      if (res.token_status == "expired")
        localStorage.setItem("access_token", res.data.newToken);
    }
    await this.$store.dispatch("FETCH_CATEGORIES");
  },
  props: ["recipe"],
  data() {
    return {
      data: {},
      id: "",
      customToolbar: [
        [{ font: [] }],
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"],
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" },
        ],
        ["blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ script: "sub" }, { script: "super" }],
        [{ indent: "-1" }, { indent: "+1" }],
        [{ color: [] }, { background: [] }],
        ["link", "image", "formula"],
        [{ direction: "rtl" }],
        ["clean"],
      ],
      fileRecords: [],
      uploadUrl: "https://www.mocky.io/v2/5d4fb20b3000005c111099e3",
      uploadHeaders: { "X-Test-Header": "vue-file-agent" },
      fileRecordsForUpload: [], // maintain an upload queue
    };
  },
  computed: {
    categories() {
      return this.$store.getters.GET_CATEGORIES;
    },
  },
  methods: {
    uploadFiles: function () {
      // Using the default uploader. You may use another uploader instead.
      this.$refs.vueFileAgent.upload(
        this.uploadUrl,
        this.uploadHeaders,
        this.fileRecordsForUpload
      );
      this.fileRecordsForUpload = [];
    },
    deleteUploadedFile: function (fileRecord) {
      // Using the default uploader. You may use another uploader instead.
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
    },
    filesSelected: function (fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
    },
    onBeforeDelete: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    fileDeleted: function (fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    },
    async updateRecipe() {
      if (this.data.title == "") return this.$toast.error("Title is required");
      if (this.data.description == "")
        return this.$toast.error("Description is required");
      if (this.data.category_id == "")
        return this.$toast.error("Category is required");
      if (this.data.procedure == "")
        return this.$toast.error("Procedure is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      const res = await this.$refs.vueFileAgent.upload(
        `http://127.0.0.1:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("access_token"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.data.featured_image = res[0].data;
      const recipe = await this.$store.dispatch("UPDATE_RECIPE", { data: this.data, id: this.id});
      if (recipe.status == 200) {
        await this.$store.dispatch("FETCH_MYRECIPES");
        this.$router.push("/recipes");
        this.$toast.success("Recipe was saved successfully!");
      } else {
        this.$toast.error("Something went wrong");
      }
    },
  },
};
</script>