<template>
  <router-link
    to="/newrecipe"
    class="newrecipe btn btn-warning btn-lg rounded-circle shadow"
    ><i class="fas fa-plus text-light"></i
  ></router-link>
</template>

<script>
export default {};
</script>

<style>
</style>