<template>
  <nav class="nav bg-light shadow">
    <div class="logo">
      <img src="@/assets/images/logo.svg" width="100" height="80" />
      <span>Recipe Blog</span>
    </div>
    <div class="pr-3 d-flex">
      <div v-if="this.$route.name == 'MyRecipes'">
        <router-link to="/" class="mr-3 btn btn-light"
          ><i class="fas fa-home"></i> Home</router-link
        >
      </div>
      <div v-else>
        <router-link to="/recipes" class="mr-3 btn btn-light"
          ><i class="fas fa-utensils"></i> My Recipes</router-link
        >
      </div>
      <b-button variant="dark" @click="logout"
        ><span class="px-2"> {{ user.first_name }}</span
        ><i class="fas fa-sign-out-alt"></i
      ></b-button>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters.GET_USER;
    },
  },
  methods: {
    async logout() {
      const res = await this.$store.dispatch("LOGOUT");
      if (res.status == 200) {
        this.$router.push("/login");
        this.$toast.success("User logged out successfully");
      }
    },
  },
};
</script>